@font-face {
    font-family: 'JosefinSans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/JosefinSans-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/JosefinSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'maddison';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/maddison.woff2') format('woff2'),
        url('../fonts/maddison.woff') format('woff');
    font-display: swap;
}